.week-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-card {
  width:400px;
  background-color: #fff;
  border-radius: 20px; /* 둥근 모서리 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left;
  gap: 10px;
}

.profile-img {
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.profile-card strong, .detail-card strong {
  color: rgb(78, 78, 238);
}


.detail-card {
  max-width: 1000px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number ul, .skill ul {
  padding-left: 20px;
  margin: 10px;
}

.detail, .info, .number, .word {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
